# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.KeepSafe.iml
# Datasource local storage ignored files
/../../../../../../:\projects\KeepSafe\.idea\.idea.KeepSafe\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
