# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.KeepSafe-mobile.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\projects\KeepSafe-mobile\.idea\.idea.KeepSafe-mobile\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
